{% extends "privatepolicy/_settings.html.twig" %}
{% trans_default_domain('privacypolicy') %}
{% block body %}
<section id="privatepolicy">
    <div class="container">
        <div id="privatepolicy-bg" class="shadow p-3">
            <div class="section-title d-flex justify-content-center">
                <h2 class="text-center pt-5">Politique de Confidentialité</h2>
            </div>
            <div class="row justify-content-center pb-5">
                <div class="col-lg-10">

                    <p class="mt-2">
                        La présente Politique de Confidentialité définit la manière dont JJA DEV collecte, utilise,
                        protège et partage vos informations personnelles lorsque vous utilisez notre site internet.
                    </p>

                    <h3>Collecte d'Informations</h3>

                    <p>
                        Nous pouvons collecter des informations personnelles vous concernant lorsque vous utilisez notre
                        site. Ces informations peuvent inclure, sans toutefois s'y limiter, votre nom, votre adresse
                        e-mail, votre numéro de téléphone et toute autre information que vous choisissez de nous
                        fournir.
                    </p>

                    <h3>Utilisation des Informations</h3>

                    <p>
                        Les informations personnelles que nous collectons peuvent être utilisées pour :
                    </p>

                    <ul>
                        <li>Vous contacter par e-mail, téléphone ou courrier postal.</li>
                        <li>Vous envoyer des informations, des mises à jour et des nouvelles relatives à nos services.
                        </li>
                        <li>Améliorer notre site internet et nos services.</li>
                    </ul>

                    <h3>Protection des Informations</h3>

                    <p>
                        Nous nous engageons à protéger vos informations personnelles et à mettre en place des mesures de
                        sécurité appropriées pour les préserver de tout accès non autorisé.
                    </p>

                    <h3>Partage des Informations</h3>

                    <p>
                        Nous ne partageons pas vos informations personnelles avec des tiers sans votre consentement
                        explicite, sauf si cela est requis par la loi.
                    </p>

                    <h3>Modification de la Politique de Confidentialité</h3>

                    <p>
                        Nous nous réservons le droit de mettre à jour cette Politique de Confidentialité à tout moment.
                        Les modifications seront publiées sur cette page.
                    </p>

                    <h3>Contact</h3>

                    <p>
                        Pour toute question concernant cette Politique de Confidentialité, veuillez nous contacter à
                        l'adresse e-mail suivante : contact@jja-dev.fr.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}