<div class="col-md-3">
	<div class="g-0 shadow rounded-4">
		<div class="d-flex p-4 bg-primary rounded-top-4">
			<div class="col-md-6 text-white">
				<p class="fs-2 fw-bold" data-controller="userCount" data-userCount-count-value="{{ users|length }}">
					<span data-userCount-target="output">Loading...
						<i class="bi fs-2 bi-gear-fill"></i>
					</span>
				</p>
				<p class="mb-0">Nombre d'utilisateure(s)</p>
			</div>
			<div class="col-md-6 text-center align-self-center text-primary-emphasis">
				<svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-person-fill-add" viewbox="0 0 16 16">
					<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
					<path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
				</svg>
			</div>
		</div>
		<div class="rounded-bottom-4 border border-top border-primary-subtle bg-primary-subtle">
			<div class="text-center text-uppercase">
				<a class="text-decoration-none fs-6 fw-bold text-primary-emphasis" href="{{ path('app_user_adm_index') }}">Plus d'info
					<i class="bi bi-arrow-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>
