// Responsive Sizes
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

$white: #FFF;
$orange: #B84F00;
$orange-bis: #B84F00; // #FF8000
$black: #000;
$dark: #212529;

$color-bg-layout: #e3e3e3;
$color-bg-dark: #1a1a1a;
$color-bg-light: #f5f5f5;
$color-bg-lighter: #f9f9f9;

$purple: #6f4a8e;
$purple-light: #8e6faa;
$purple-dark: #4a3a5f;
