{% extends 'admin/template/_settings.html.twig' %}
{% block body %}
    <div class="col-12">
        <div class="card card-primary shadow">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %} 