{% extends 'admin/base.html.twig' %}
{% trans_default_domain = "admin" %}
{% block title %}Edit Status{% endblock %}
{% set manuActive = "prospect" %}
{% block body %}
    <h1>Edit Status</h1>

    {{ include('status/admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_status_admin_index') }}">back to list</a>

    {{ include('status/admin/_delete_form.html.twig') }}
{% endblock %}
